body {
background-image: url("https://i.ibb.co/r4LXmC9/geometric-art-wallpaper-3554x1999.jpg");
background-repeat: no-repeat, repeat;
background-position: center;
}
.cards-list {
  font-family: 'Cairo', sans-serif;
  z-index: 0;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nextbtn {
text-align:center;
border-radius: 0px 0px 40px 40px;
font-family: 'Cairo', sans-serif;
font-weight: bold;
z-index: 0;
width: 250px;
height: 150px;
border-radius: 25px;
color: black;
background-image: url("https://i.ibb.co/vcYZ697/New-Project.png");
}
.card {
  font-family: 'Cairo', sans-serif;
  margin: 60px auto;
  width: 300px;
  height: 400px;
  border-radius: 50px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.6s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 50px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 50px;
  object-fit: cover;
}
.card .card_title {
  text-align:center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -225px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.6s;
}


@media all and (max-width: 300px){  
.card-list {
 flex-direction: column;
  }
}


.box {
	font-family: 'Cairo', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: red;
  background: white;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 10px;
  cursor: pointer;
}
  .border {
    position: absolute;
    margin: -5px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(to right, #7174e7, red);
    transition: all 0.9s;
}

 .-top-left {
      top: 0;
      right: 80%;
      bottom: 80%;
      left: 0;
    }

  .-top-right {
      top: 0;
      right: 0;
      bottom: 80%;
      left: 80%;
    }

   .-bottom-right {
      top: 80%;
      right: 0;
      bottom: 0;
      left: 80%;
    }

   .-bottom-left {
      top: 80%;
      right: 80%;
      bottom: 0;
      left: 0;
    }
		

  .border:hover {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

 






/* for me */
.cardsme-listme {
  font-family: 'Cairo', sans-serif;
  z-index: 0;
  width: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardme {
  font-family: 'Cairo', sans-serif;
  margin: 30px auto;
  width: 130px;
  height: 90px;
  border-radius: 10px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.5s;
}

.cardme .card_imageme {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.cardme .card_imageme img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}
.cardme .card_titleme {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -100px;
  height: 40px;
}

.cardme:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-whiteme {
  color: white;
}

.title-blackme {
  color: black;
}
.cardme {
  font-family: 'Cairo', sans-serif;
  margin: 30px auto;
  width: 120px;
  height: 90px;
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

@media all and (max-width: 120px){  
.card-listme {
 flex-direction: column;
  }
}







.boxfull {
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #white;
  background-image: url("https://i.ibb.co/QJZyKwY/gold-brush-stoke-texture-white-background-with-black-line-frame-46250-123.png");
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 10px;
  cursor: pointer;
}

  .boxfull .borderfull {
    position: absolute;
    margin: -3px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(to right, #7174e7, #7174e7);
    transition: all 8s;
}
  	.-topfull-leftfull {
      top: 0;
      right: 0%;
      bottom: 0%;
      left: 0;
    }   

    .-topfull-rightfull {
      top: 0;
      right: 0; 
      bottom: 0%;
      left: 0%;
    }   

    .-bottomfull-rightfull {
      top: 0%;
      right: 0;
      bottom: 0;
      left: 0%;
    }

    .-bottomfull-leftfull {
      top: 0%;
      right: 0%;
      bottom: 0;
      left: 0;
    }
		

  .borderfull:hover {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }


.boxthreeA {
	font-family: 'Cairo', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: green;
  background: white;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 10px;
  cursor: pointer;
}
  .borderthreeA {
    position: absolute;
    margin: -5px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(to right, #7174e7, green);
    transition: all 0.9s;
}

 .-top-left {
      top: 0;
      right: 80%;
      bottom: 80%;
      left: 0;
    }

  .-top-right {
      top: 0;
      right: 0;
      bottom: 80%;
      left: 80%;
    }

   .-bottom-right {
      top: 80%;
      right: 0;
      bottom: 0;
      left: 80%;
    }

   .-bottom-left {
      top: 80%;
      right: 80%;
      bottom: 0;
      left: 0;
    }
		

  .borderthreeA:hover {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
 
