.cards-list {
  font-family: 'Cairo', sans-serif;
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  font-family: 'Cairo', sans-serif;
  margin: 30px auto;
  width: 900px;
  height: 900px;
  border-radius: 80px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.6s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 80px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 80px;
  object-fit: cover;
}
.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 130px;
  margin-top: -1070px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.card {
  margin: 30px auto;
  width: 900px;
  height: 900px;
  border-radius: 80px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.6s;
}


@media all and (max-width: 500px){  
.card-list {
 flex-direction: column;
  }
}


/* for me */
.cardsme-listme {
  font-family: 'Cairo', sans-serif;
  z-index: 0;
  width: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardme {
  font-family: 'Cairo', sans-serif;
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.cardme .card_imageme {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.cardme .card_imageme img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.cardme .card_titleme {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-top: -320px;
  height: 40px;
}

.cardme:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-whiteme {
  color: white;
}

.title-blackme {
  color: black;
}
.cardme {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

@media all and (max-width: 500px){  
.card-listme {
 flex-direction: column;
  }
}
